{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mhdb</title>
    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/drive-viewer/AEYmBYS61zn78IZmZasuT59bpGoEV1l1VHaGurZ7uQW0eixi3qiH_EkUStxq9pI-rGSc36P_jhLXA0bTl8aDlmjuy_ONRv-kXQ=s1600">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
</head>

<body>
    <header>
        <div class="topnav-right">
            <a class="log_in" href="">Sign In / Log In</a>
            <a href=""></a>
        </div>
        <div class="logo" margin = "10px">
            <a href="mhdb.html">
                <img src="{% static 'images/LOGOS/mh pag_Mesa de trabajo 1.png' %}" alt="Imagen de ejemplo" id="logo">
            </a>
        </div>
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn" form="cat">Categorias
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="">3X3</a>
                  <a href="">2X2</a>
                  <a href="">4X4-7X7</a>
                  <a href="">Pyraminx</a>
                  <a href="">Megaminx</a>
                  <a href="">Square-1</a>
                  <a href="">Skewb</a>
                </div>
            </div>
        </div>
    </header>
    
    <p>
        <div>

        </div>

        <div class="text">
            <br>
            Que es Mhdb?<br>
            <br>
            Mhdb, es una plataforma de algoritmos desarrollada por el youcuber mhcuber, en la cual se almacenan algoritmos con sus respectivos metodos de 
            todas las categorias oficiales de la WCA (World cube Association), 
        </div>

    <br>
    <p1>
        <a href="3X3/3X3.html">
            <button type="button" class="btn-3x3">
                <img src="" alt= "3x3" />
                <h2><b>3X3</b></h2>
            </button>
        </a>
    </p1>
    <p2>
        <a href="2X2/2X2.html">
            <button type="button" class="btn-2x2">
                <img src="" alt= "2x2"/>
                <h2><b>2X2</b></h2>
            </button>
        </a>
    </p2>
    <p3>
        <a href="4X4/4X4.html">
            <button type="button" class="btn-nxn">
                <img src="" alt= "nxn"/>
                <h2><b>4X4 - 7x7</b></h2>
            </button>
        </a>
    </p3>
    <p4>
        <a href="Pyraminx/Pyraminx.html">
            <button type="button" class="btn-pyra">
                <img src="http://drive.google.com/uc?export=view&id=11CyjewVsL9kPC9IXVIhSymw8qiJINH6X2" alt= "pyra" />
                <h2><b>Pyraminx</b></h2>
            </button>
        </a>
    </p4>
    <div class= "container-absolute">
        <p5>
            <a href="Megaminx/Megaminx.html">
                <button type="button" class="btn-mega">
                    <img src="" alt= "mega"/>
                    <h2><b>Megaminx</b></h2>
                </button>
            </a>
        </p5>
        <p6>
            <a href="Skewb/Skewb.html">
                <button type="button" class="btn-skewb">
                    <img src="" alt= "skewb"/>
                    <h2><b>Skewb</b></h2>
                </button>
            </a>
        </p6>
        <p7>
            <a href="SQ-1/SQ-1.html">
                <button type="button" class="btn-squan">
                    <img src="" alt= "SQ-1" />
                    <h2><b>Square-1</b></h2>
                </button>
            </a>
        </p7>
    </div>
    </p>
    <footer>
        <hr>
        <nav>
            <a href="https://www.instagram.com/mh_cuber_/">Instagram</a>
            <br>
            <a href="https://www.youtube.com/mhcuber">Youtube</a>
            <br>
            <a href="mhcubercontacto@gmail.com">Contacto</a>
        </nav>
        <form>
            <label for="email">Subscribe for a monthly newsletter</label><br>
            <input type="email" id="email" name="email" size = "40">
            <input type="submit">
        </form>
    </footer>
</body>

</html>