<html>
<head>
    <meta charset="UTF-8">
    <title>Mh cuber's database</title>
    <link rel="shortcut icon" href="https://yt3.ggpht.com/ytc/AKedOLR-HItrt4BEG2crOEd8Lax9ccu5JLm4XOXWsBOrpg=s900-c-k-c0x00ffffff-no-rj">
    <link rel="stylesheet" href="styles CFOP.css">
</head>

<body>
    <header>
        <div class="header">
            <a href="mhdb.html">
                <button type="button">
                    <img class="head" src="https://yt3.ggpht.com/ytc/AKedOLR-HItrt4BEG2crOEd8Lax9ccu5JLm4XOXWsBOrpg=s900-c-k-c0x00ffffff-no-rj"/>
                    <h1><b><div style = "position:absolute; left:80px; top:20px;">Mh cuber's database</div></b></h1>
                </button>
            </a>
        </div>
    </header>
    <p1>
        <a href="F2L.html">
            <button type="button">
                <img src="http://drive.google.com/uc?export=view&id=15x7WLrGGOPE2MKLYEU61EAhcGlzxjVrD" width="200" height="200"/>
                <h2><b>F2L</b></h2>
            </button>
        </a>
    </p1>
    <p2>
        <a href="oll.html">
            <button type="button">
                <img src="http://drive.google.com/uc?export=view&id=1sR_-Ybfc3MgDihNVCaTpTnoPKJcV2MyS" width="200" height="200"/>
                <h2><b>OLL</b></h2>
            </button>
        </a>
    </p2>
    <p3>
        <a href="pll.html">
            <button type="button">
                <img src="http://drive.google.com/uc?export=view&id=1q0NYTk7yY1fBOB5M8gC9B2tB_F85CmHO" width="200" height="200"/>
                <h2><b>PLL</b></h2>
            </button>
        </a>
    </p3>
    <p4>
        <a href="">
            <button type="button">
                <img src="http://drive.google.com/uc?export=view&id=1sUQr3AzNOXmvM7Gs4bZYN7PoXwmJtK_1" width="200" height="200"/>
                <h2><b>Winter variation</b></h2>
            </button>
        </a>
    </p4>
    <p5>
        <a href="">
            <button type="button">
                <img src="http://drive.google.com/uc?export=view&id=" width="200" height="200"/>
                <h2><b>VLS</b></h2>
            </button>
        </a>
    </p5>
</body>

</html>