<html>
    <head>
        <meta charset="UTF-8">
        <title>Mh cuber's database</title>
        <link rel="shortcut icon" href="https://yt3.ggpht.com/ytc/AKedOLR-HItrt4BEG2crOEd8Lax9ccu5JLm4XOXWsBOrpg=s900-c-k-c0x00ffffff-no-rj">
        <link rel="stylesheet" href="Styles L4E db.css">
    </head>
    <body>
        <header>
            <div class="header">
                <a href="mhdb.html">
                        <img class="head" src="" alt="mhdb"/>
                </a>
            </div>
        </header>
        
        <table> 
            <th>Case</th>
            <th>algorithm</th>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1UYp51sRbh-MCiAJu4fXm5zfujLe5SyUC" alt="L4E 1" class="center"/></td>
                <li>
                <td><ul>(R U' R') (R' L R L') [U]</ul></td>
                </li>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1xUa8i28_enhJHZ9jn1KKqQHHaPjpawO3" class="center"/></td>
                <td>(L' U L) (L R' L' R) U'</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1Xi43kxs7CxZKCwRiG14_Pe_Ct298r39d" class="center"/></td>
                <td>(L R' L' R) U (L R' L' R) [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1fF94O3HQgrEJIiN6ijU2fu7JPBkjem7N" class="center"/></td>
                <td>(R' L R L') U' (R' L R L') [U]</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=14QM7Fca_rvWeilNPOTIxwv62c6LsnC-W" class="center"/></td>
                <td>(L' U L) (R U R') [U]</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1xIdjQm8xII5hgDmOL1btvYewOXH3O3Nf" class="center"/></td>
                <td>(R U' R') (L' U' L) [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1_f9RW1tPUf3kfLpHVulg1neaUpoOUyYu" class="center"/></td>
                <td>(R U R' U') (L' U' L) [U]</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1p9f_bluAjiYl_4uoGO1sAIglJ4N7TXkT" class="center"/></td>
                <td>(L' U' L U) (R U R') [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1crnzwWo8Hq04yo_dtzuxnH0W72OD0_bN" class="center"/></td>
                <td>(R U' R') (L' U L)</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=16YLntTBIcw8-gytL3POD57zYRWV8TDN-" class="center"/></td>
                <td>(L' U L) (R U' R')</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1d99wHPRBzcyUnyJf0aMj_X75DU9zrxZ6" class="center"/></td>
                <td>(L R' L' R) U' (R U' R') [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1GORP3P5X2JZAJdFdhcOZqpA5Vt0lXo1k" class="center"/></td>
                <td>(R' L R L') U (L' U L) [U]</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1R4OGDDPlAktQ8bL-3Vm6QnguPkec2JFz" class="center"/></td>
                <td>(L' U' L U') (L R' L' R) [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1QfbFRGMZ2DgwiIMv0ndPTWp0_MY01Jlw" class="center"/></td>
                <td>(R U R' U) (R' L R L') [U]</td>
            </tr>
    
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1OMIcFSNIRx4fr_wvr3xE7S4CdnizFOk8" class="center"/></td>
                <td>(R U' R' U') (R U R') [U] </td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1ses0hZSkdmd-AhmCQ2tiBYfTvG9UkBaS" class="center"/></td>
                <td>(L' U L U) (L' U' L) [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1LIlRZ7vMc6-aoufu6c5e9eDESCl0rx0K" class="center"/></td>
                <td>(L' U' L U') (R U' R')</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1VPWMVspGaNWy_OtZb8x8Bwwbx2tWknw7" class="center"/></td>
                <td>(R U R' U) (L' U L)</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1_1-YCVB_9p5bGGTKAg55qpH2CRuxNfMT" class="center"/></td>
                <td>(L' U L U') (R U R') [U']</td>
            </tr>
            <tr>
                <td><img src="http://drive.google.com/uc?export=view&id=1rdxSzHfFvtymHIELJvlhUDnCdZx1lXhX" class="center"/></td>
                <td>(R U' R' U) (L' U' L) [U]</td>
            </tr>
        </table>

        <footer>
            <hr>
            <nav><a href="https://www.instagram.com/mh_cuber_/">instagram</a></nav>
            <nav><a href="https://www.youtube.com/mhcuber">youtube</a></nav>
        </footer>
    </body>

</html>